<ng-sidebar-container class="app" [ngClass]="{'mode-boxed': isBoxed, 'sidebar-opened': isOpened, 'theme-light': theme == 'light', 'theme-dark': theme == 'dark', 'mode-push': _mode == 'push', 'mode-dock': _mode == 'dock', 'mode-over': _mode == 'over', 'mode-slide': _mode == 'slide', 'no-footer': options?.removeFooter, 'map-header': options?.mapHeader}">
  <ng-sidebar
    [(opened)]="isOpened"
    [(mode)]="_mode"
    [position]="'left'"
    [dockedSize]="'80px'"
    [autoCollapseWidth]="'991'"
    [closeOnClickOutside]="isOver()"
    [showBackdrop]="isOver()"
    [sidebarClass]="'sidebar-panel'" #sidebar>
    <nav class="navbar custom-navbar main-brand">
      <a class="navbar-brand mr-auto" [routerLink]="['/']">
        <img src="assets/images/logo.png" class="navbar-brand-logo" alt="">
        <span class="docked-hidden">&nbsp;Sistema</span>
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="javascript:;" class="nav-link" (click)="toogleSidebar()">
            <i class="hamburger-icon v2" *ngIf="_mode === 'over' && !isOver()">
              <span></span>
            </i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- main navigation -->
    <nav class="menu">
      <ul class="navigation" appAccordion>
        <li class="navigation-item" appAccordionLink>

        <li class="navigation-item">
          <a class="navigation-link" (click)="addMenuItem()">
            <i class="icon icon-basic-home"></i>
            <span>Add</span>
          </a>
        </li>

        <li class="navigation-item">
          <a class="navigation-link" (click)="addMenuItem()">
            <i class="icon icon-basic-display"></i>
            <span>Add</span>
          </a>
        </li>

        <li class="navigation-item">
          <a class="navigation-link" (click)="addMenuItem()">
            <i class="icon icon-basic-target"></i>
            <span>Add</span>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /main navigation -->
  </ng-sidebar>

  <div class="app-inner">
    <nav class="navbar custom-navbar bg-faded main-header">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="javascript:;" class="nav-link" (click)="toogleSidebar()">
            <i class="hamburger-icon v2" *ngIf="_mode !== 'dock'">
              <span></span>
            </i>
          </a>
        </li>
      </ul>
      <span class="navbar-heading hidden-xs-down">{{options?.heading}}</span>
      <span class="mr-auto"></span>
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown>
          <a href="javascript:;" class="nav-link" ngbDropdownToggle>
            <img src="assets/images/avatar.jpg" class="navbar-avatar rounded-circle" alt="user" title="user">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:;">
              <i class="icon icon-basic-settings mr-3"></i>
              <span>Configurações</span>
            </a>
            <a class="dropdown-item" href="javascript:;">
              <i class="icon icon-basic-postcard mr-3"></i>
              <span>Perfil</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">
              <i class="icon icon-arrows-switch-vertical mr-3"></i>
              <span>Sair</span>
            </a>
          </div>
        </li>
        <!--<li class="nav-item" ngbDropdown>-->
          <!--<a href="javascript:;" class="nav-link" ngbDropdownToggle>-->
            <!--<i class="fi flaticon-notification"></i>-->
            <!--<span class="badge badge-danger">4</span>-->
          <!--</a>-->
          <!--<div class="dropdown-menu dropdown-menu-right notifications">-->
            <!--<div class="notifications-wrapper">-->
              <!--<a href="javascript:;" class="dropdown-item">-->
                <!--<span class="badge badge-warning">NEW</span>-->
                <!--&nbsp;Sean launched a new application-->
                <!--<span class="time">2 seconds ago</span>-->
              <!--</a>-->
              <!--<a href="javascript:;" class="dropdown-item">-->
                <!--Removed calendar from app list-->
                <!--<span class="time">4 hours ago</span>-->
              <!--</a>-->
              <!--<a href="javascript:;" class="dropdown-item">-->
                <!--Jack Hunt has joined mailing list-->
                <!--<span class="time">9 days ago</span>-->
              <!--</a>-->
              <!--<a href="javascript:;" class="dropdown-item">-->
                <!--<span class="text-muted">Conan Johns created a new list</span>-->
                <!--<span class="time">9 days ago</span>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="notification-footer">Notifications</div>-->
          <!--</div>-->
        <!--</li>-->
        <li class="nav-item">
          <a href="javascript:;" class="nav-link" appToggleFullscreen>
            <i class="fi flaticon-fullscreen"></i>
          </a>
        </li>

        <li class="nav-item">
          <span class="nav-divider"></span>
        </li>
        <li class="nav-item">
          <a href="javascript:;" class="nav-link" (click)="openSearch(search)">
            <i class="fi flaticon-search"></i>
          </a>
        </li>

      </ul>
    </nav>

    <div class="main-content">
      <router-outlet></router-outlet>
      <nav class="navbar custom-navbar navbar-light main-footer small">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">
              <span>Copyright &copy; 2017</span> <span class="ff-headers text-uppercase">Decima</span>. All rights reserved
            </a>
          </li>
        </ul>
        <ul class="navbar-nav hidden-xs-down">
          <li class="nav-item">
            <!--<a class="nav-link" href="javascript:;">Made with love on Earth</a>-->
          </li>
        </ul>
      </nav>
    </div>
  </div>

</ng-sidebar-container>

<ng-template #search let-c="close" let-d="dismiss">
  <form class="search__form" action="">
    <input class="search-input" name="search" type="search" placeholder="Search..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="true" />
    <p class="text-muted"><small><strong>Hit enter to search or ESC to close</strong></small></p>
  </form>
  <div class="search-suggestions">
    <h6 class="text-uppercase"><strong>Suggestions?</strong></h6>
    <p class="text-primary">#medical #analytics #fitness #transport #ui #dashboard #admin #bootstrap #angular #typescript</p>
  </div>
  <button type="button" class="search-close" aria-label="Close search form" (click)="d('Cross click')">
    <i class="fi flaticon-close"></i>
  </button>
</ng-template>


<div class="configuration hidden-sm-down" [ngClass]="{'active': showSettings}">
  <div class="configuration-cog" (click)="showSettings = !showSettings">
    <i class="icon icon-basic-mixer2"></i>
  </div>
  <div class="card">
    <div class="card-header">
      Personalização
    </div>
    <div class="card-block">
      <small class="ff-headers text-uppercase mb-3"><strong>Layout</strong></small>
      <div class="custom-controls-stacked mb-2">
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" name="radio-stacked" type="radio" value="push" [(ngModel)]="_mode" (change)="isOpened = true; mode = _mode">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Padrão</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" name="radio-stacked" type="radio" value="dock" [(ngModel)]="_mode" (change)="isOpened = true; mode = _mode">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Modo encaixado</span>
        </label>
      </div>

      <small class="ff-headers text-uppercase mb-3"><strong>Temas</strong></small>
      <div class="custom-controls-stacked mb-2">
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" name="radio-stacked2" type="radio" value="light" [(ngModel)]="theme">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Claro</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" name="radio-stacked2" type="radio" value="dark" [(ngModel)]="theme">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Escuro</span>
        </label>
      </div>

    </div>
  </div>
</div>
