<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-purple card-inverse">
      <div class="widget-bg-icon icon icon-basic-headset"></div>
      <div class="block">
        <h5 class="mb-0"><strong>576K</strong></h5>
        <p>Users</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-green card-inverse">
      <div class="widget-bg-icon icon icon-basic-server2"></div>
      <div class="block">
        <h5 class="mb-0"><strong>99.99%</strong></h5>
        <p>Server Uptime</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-cyan card-inverse">
      <div class="widget-bg-icon icon icon-basic-magic-mouse"></div>
      <div class="block">
        <h5 class="mb-0"><strong>465K</strong></h5>
        <p>Unique Visitas</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget bg-blue card-inverse">
      <div class="widget-bg-icon icon icon-basic-heart"></div>
      <div class="block">
        <h5 class="mb-0"><strong>7,578</strong></h5>
        <p>Likes</p>
      </div>
    </div>
  </div>
</div>
